.container{
    // width: 1100px;
    // margin: 0 auto;
    .informaboutklient{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        margin: 0;
    }
    .inputColor{
        margin-right: 7px;
    }
    .inputProps{
        width: 400px;
        height: 35px;
        outline: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .courier-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -25px;
        .free-courier{
            margin-top: 20px;
            width: 580px;
            padding: 10px;
            height: 150px;
            overflow: hidden;
            overflow-y: scroll;
            padding: 20px;
        }
        .samovizovP{
            padding: 10px;
            height: 200px;
            overflow: hidden;
            overflow-y: scroll;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #849ec8 ;
            color: white;
        }
    }
    .free{
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .samo-price{
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        .price{
            display: flex;
            align-items: center;
            margin-top: auto;
            .summa-all{
                background: red;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                font-size: 20px;
                font-weight: 700;
                height: 50px;
                margin-left: 10px;
                margin-right: 10px;
                padding: 10px;
                width: 200px;
                p{
                    margin: 0;
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
            }
            .zakazat{
                align-items: center;
                background: green;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                display: flex;
                font-size: 20px;
                font-weight: 700;
                height: 50px;
                justify-content: center;
                padding: 10px;
                width: 200px;
            }
        }
    }
}