.dostavkamodal {
  margin-top: -50px;
  padding: 50px;
  position: fixed;
  width: 100%;
  height: 1000px;
  left: 0;
  top: 0;
  background: aliceblue;
  .container{
    width: 1100px;
    margin: 0 auto;
    .imgnext{
      margin-bottom: 30px;
    }
    .allInput {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      > div {
        flex: 0 0 25%;
      }
    }
    .tip-fill{
      display: flex;
      align-items: center;
      .dd{
        width: 275px;
      }
    }
    .price{
      display: flex;
      align-items: center;
      margin-top: 80px;
      .summa-zakaza{
        cursor: pointer;
        width: 200px;
        height: 50px;
        background: red;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        p{
          margin: 0;
          margin-right: 10px;

        }
      }
      .summa-all{
        cursor: pointer;
        width: 200px;
        height: 50px;
        background: red;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 5px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        p{
          margin: 0;
          margin-right: 10px;

        }
      }
      .summa-dostavki{
        cursor: pointer;
        width: 200px;
        height: 50px;
        background: red;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 5px;
        border-radius: 5px;
        padding: 10px;
        p{
          margin: 0;
          margin-right: 10px;

        }
      }
      .zakazat{
        width: 200px;
        cursor: pointer;
        height: 50px;
        background: green;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 5px;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
          margin: 0;
          margin-right: 10px;
   
        }
      }
    }
    .samo{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 50px;
      font-weight: bold;
    }
    .icon{
      font-size: 50px;
      color: green;
      margin-right: 15px;
      margin-left: 15px;
    }
    .inputColor{
      width: 275px;
      height: 56px;
      background-color: aliceblue;
      
    }
    .phone-input{
      margin-left: 10px;
      margin-right: 15px;
    }
    .samovizovP{
      margin-left: 10px;
      border: 1px solid black;
      border-radius: 5px;
      width: 260px;
      padding: 5px;
      margin-top: 10px;
    }
    .allResults{
      display: flex;
      .price{
        .summa-all{
          margin-left: 30px;
        }
      }
    }
  }
}
