.allSamovizov {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 1px 10px rgba($color: #7e94e2, $alpha: 0.7);
  margin-top: 80px;
  border-radius: 10px;
  cursor: pointer;
  img {
    width: 150px;
    object-fit: contain;
    height: 150px;
    height: 150px;
  }
  p {
    color: #484747;
    font-size: 25px;
    font-weight: bold;
  }
}
.allDostavka {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 1px 10px rgba($color: #61ae17, $alpha: 0.25);
  border-radius: 10px;
  margin-top: 80px;
  cursor: pointer;
  img {
    width: 150px;
    object-fit: contain;
    height: 150px;
    height: 150px;
  }
  p {
    color: #484747;
    font-size: 25px;
    font-weight: bold;
  }
}
.allKiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000px;
  background-color: #e9eadf;
  z-index: 9999;
  .container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    h2 {
      margin: 0;
    }
    .type-dostavka {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .imgArrow {
      width: 130px;
      height: 60px;
      background-color: #7e94e2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 35px;
        color: white;
        color: white;
      }
    }
  }
}
